$primary: #9381ff;
$secondary: #d5fff3;
$black: #010400;
$gray: #ced4da;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
