<div class="position-relative cursor-pointer" (click)="playlistCardModal.show()">
    <img [src]="playlist.imageUrl" class="playlist-image" />
    <div class="playlist-date-container">
        <div> {{ playlist.timestamp | date: 'shortDate' }} </div>
    </div>
</div>

<div mdbModal #playlistCardModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="playlistCardModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="playlistCardModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let song of playlist.songs">
                    {{ song.songName }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="playlistCardModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save
                    changes</button>
            </div>
        </div>
    </div>
</div>