<div class="d-flex song-chip-container" (mouseover)="hovering = true" (mouseout)="hovering = false">
    <div class="position-relative">
        <img [src]="data.albumImageUrl"
            [class.opacity]="data.songPreviewUrl && (hovering || audioService.refAndIdOfSongPlaying.id === data.spotifyTrackId)"
            class="album-image" />
        <div *ngIf="data.songPreviewUrl" (click)="handleAudioClick()"
            class="audio-overlay position-absolute d-flex justify-content-center align-items-center">
            <audio #previewAudio [src]="data.songPreviewUrl"></audio>
            <span *ngIf="audioService.refAndIdOfSongPlaying.id !== data.spotifyTrackId; else pause"
                class="fas fa-play cursor-pointer play-pause-icon"></span>
            <ng-template #pause>
                <span class="fas fa-pause cursor-pointer play-pause-icon"></span>
            </ng-template>
        </div>
    </div>
    <div class="pl-2 d-flex flex-column justify-content-center">
        <div class="song-info text-truncate">
            {{ data.songName }}
        </div>
        <div class="song-info text-truncate">
            {{ data.artistName}}
        </div>
    </div>
    <div class="add-container d-flex justify-content-center align-items-center">
        <span (click)="playlistService.addSongToPlaylist(data)" class="fas fa-plus cursor-pointer"></span>
    </div>
</div>