<form [formGroup]="searchForm">
    <div class="md-form mb-0">
        <input (focus)="showSearchResults = true" (blur)="showSearchResults = false" mdbInput
            formControlName="searchTerm" type="text" id="song-input" class="form-control mb-0">
        <label for="song-input"> Search for a song... </label>
    </div>
</form>

<div *ngIf="searchResults.length && showSearchResults" class="search-results-container">
    <div *ngFor="let searchResult of searchResults" (mousedown)="playlistService.addSongToPlaylist(searchResult)"
        class="d-flex search-result">
        <div *ngIf="searchResult.albumImageUrl" class="mr-2">
            <img [src]="searchResult.albumImageUrl" class="h-100 album-image" />
        </div>
        <div class="d-flex align-items-center text-nowrap overflow-hidden">
            {{ searchResult.songName }} by {{ searchResult.artistName }}
        </div>
    </div>
</div>